click
configparser
Flask
Flask-SQLAlchemy
Flask-WTF
bootstrap-flask
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
requests
typing_extensions
urllib3
Werkzeug
WTForms
wtforms_sqlalchemy
flask_table
