<!doctype html>
<html class="no-js" lang="">

    <head>

        <title>{% block title %}Library @ Blocs/Walls{% endblock %}</title>

        {% block inlinecss %}
        {% endblock %}

        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">

            <meta charset="utf-8">
        {% endblock %}

    </head>

    {% block body %}
    <body>

        {% block header %}
        {% include 'sections/header.html' %}
        {% endblock %}

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="height-controller">
        {% block main %}
        {% endblock %}
        </div>

        {% block footer %}
        {% include 'sections/footer.html' %}
        {% endblock %}

        {% block footerjs %}
        {% include 'sections/footerjs.html' %}
        {% endblock %}

        {% block inlinejs %}
        {% endblock %}


    </body>
    {% endblock %}

</html>
