<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header-container">
  <header class="wrapper clearfix">
    <div class="row">

      <!-- Title -->
      <div class="col-xs-12 col-md-5">
        <a href="/index">
          <h1 class="title">Blocs&amp;Walls Library</h1>
        </a>
      </div>

      <!-- Search Form -->
      <div class="col-xs-12 col-md-4">
        <form class="search-form" action="/index/1" method="post">
          <fieldset class="form-group">
            <input type="search" name="search" class="form-control" id="search" placeholder="e.g. title, author, or subject (substring)" {% if s %} value="{{ s }}" {% endif %}>
          </fieldset>
          <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
      </div>

      <!-- Add Book Button and Login/Logout Links -->
      <div class="col-xs-12 col-md-3 text-right">
        <div class="btn-group-vertical btn-group-sm" role="group">
          <a href="{{ url_for('add_book') }}" class="btn btn-info btn-block">Add Book</a>
          {% if session['logged_in'] %}
            <a href="{{ url_for('view_logs') }}" class="btn btn-default btn-block">View Logs</a>
            <a href="{{ url_for('logout') }}" class="btn btn-default btn-block">Logout</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-default btn-block">Login</a>
          {% endif %}
        </div>
      </div>

    </div>
  </header>
</div>
