#upstream library {
#    server 34.90.213.110:5000;
#}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    # listen 80;
    server_name _;

    location / {
        # proxy_pass http://library;
        proxy_pass http://localhost:5000/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }

    location /library/ {
        #proxy_pass http://library;
        #rewrite /library/(.*) /$1  break;
        proxy_pass http://localhost:5000/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        #proxy_redirect off;
    }
    location /detail/ {
        proxy_pass http://localhost:5000/detail/;
    }


    # location /static/ {
    #     alias /home/app/web/project/static/;
    # }

    # location /media/ {
    #     alias /home/app/web/project/media/;
    # }

}
